<div class="container" ng-controller="modifyController as mod" ng-init="mod.InitApp()">
    <h3 class="text-center">Modify DB</h3>
    <div class="input-group my-3">
        <input type="text" ng-model="mod.toolName" placeholder="Currrency name to add" class="form-control" />
        <input type="button" ng-click="mod.AddTool(mod.toolName)" class="btn-success form-control" value="Add tool" />
    </div>

    <div class="input-group my-3">
        <input type="text" ng-model="mod.participantName" placeholder="Participant name to add" class="form-control" />
        <input type="button" ng-click="mod.AddParticipant(mod.participantName)" class="btn-success form-control" value="Add participant" />
    </div>

    <div class="input-group my-3" ng-model="mod.newTransaction">
        <div class="input-group-prepend">
            <span class="input-group-text" id="tool">Tool</span>
        </div>
        <select ng-model="mod.newTransaction.selectedTool" ng-options="tool.Name for tool in mod.myFactory.Tools" class="form-control" aria-describedby="tool"></select>
        <div class="input-group-prepend">
            <span class="input-group-text" id="buyer">Buyer</span>
        </div>
        <select ng-model="mod.newTransaction.selectedBuyer" ng-options="participant.Name for participant in mod.myFactory.Participants" class="form-control" aria-describedby="buyer"></select>
        <div class="input-group-prepend">
            <span class="input-group-text" id="seller">Seller</span>
        </div>
        <select ng-model="mod.newTransaction.selectedSeller" ng-options="participant.Name for participant in mod.myFactory.Participants" class="form-control" aria-describedby="seller"></select>
        <input type="number" ng-model="mod.newTransaction.price" placeholder="Price" class="form-control" />
        <input type="number" ng-model="mod.newTransaction.amount" placeholder="Amount" class="form-control" />
    </div>
    <div class="input-group">
        <input type="button" ng-click="mod.AddTransaction(mod.newTransaction)" class="form-control btn-success" value="Add transaction" />
    </div>

    <div class="card my-5">
        <div class="card-header bg-info">
            <h3 class="text-center">Transactions info</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Seller</th>
                    </tr>
                </thead>
                <tbody ng-repeat="transaction in mod.myFactory.Transactions track by transaction.Id">
                    <tr>
                        <th scope="row">{{transaction.Id}}</th>
                        <td>{{transaction.Tool.Name}}</td>
                        <td>{{transaction.Price}} {{transaction.Tool.Name}}</td>
                        <td>{{transaction.Amount}} {{transaction.Tool.Name}}</td>
                        <td>{{transaction.TimeF}}</td>
                        <td>{{transaction.Buyer.Name}}</td>
                        <td>{{transaction.Seller.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>